body {
    font-family: "Cal Sans", sans-serif;
    font-weight: 10;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(12, 13, 22);
}

.main-view{
    display: flex;
    height: calc(100vh - 175px);
    overflow-y: auto;
    position: relative;
    background-color: rgb(19, 20, 30);
    flex-direction: column;
    border-radius: 15px;
    margin: 0px 10px;
    box-shadow: 0 0 2px rgba(46, 48, 68, 0.985);
}

.main-view::-webkit-scrollbar {
    width: 10px;
}

.view-switcher-wrapper{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    display: flex;
    box-shadow: 0 0 2px rgba(46, 48, 68, 0.985);
}

.view-switcher{
    justify-content: space-evenly;
    display: flex;
    width: 400px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(22, 24, 35);
    box-shadow: 0 0 3px rgba(97, 100, 131, 0.871);
    position: relative;
    height: 55px;
}

.view-btn{
    border: none;
    outline: none;

    background: transparent;
    color: rgba(255,255,255,0.6);

    font-family: "Cal Sans", sans-serif;
    font-size: 17px;
    font-weight: 1px;

    cursor: pointer;
}
.indicator{
    background-color: rgb(148, 92, 245);
    display: block;
    position: absolute;
    width: 36px;
    height: 7px;
    border-radius: 15px;
    bottom: -3px;
    left: 102px;

    transition: 
    left 0.35s ease,
    width 0.35s ease;
}

.view-btn.active {
    color: white;
}

.view-btn:not(.active):hover{
    color: rgb(218, 218, 218);
}
.song {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}


.song:hover{
    cursor: default;
}


.song-list {
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: rgb(19, 20, 30);
    width: 100%;
    display: block;
}

.song-row {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 5px;
    height: 54px;
    width: 100%;
    z-index: 0;
}
.playlist-list{
    display:none;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:20px;

    padding:20px;
    align-content:start;
}

.playlist-card{

    background:rgb(23,24,36);
    border:1px solid rgba(255,255,255,.04);

    border-radius:14px;

    padding:15px;

    transition:.2s ease;

    cursor:pointer;

    text-decoration: none;
    color: inherit;
    display:flex;
    flex-direction:column;
}

.playlist-card:hover{

    background:rgb(29,31,45);

    border-color:rgba(148,92,245,.15);

    box-shadow:
        0 10px 30px rgba(0,0,0,.35);
}

.playlist-cover{
    width:100%;
    aspect-ratio:1;

    overflow:hidden;

    border-radius:10px;

    margin-bottom:15px;

    background:rgb(33,35,50);
}

.playlist-cover img{
    width:100%;
    height:100%;

    object-fit:cover;

    transition:transform .25s ease;
}

.playlist-card:hover .playlist-cover img{
    transform:scale(1.05);
}

.playlist-card-info h3{
    font-size:18px;
    margin-bottom:6px;
    margin:0;
    line-height:1.3;
}

.playlist-card-info p{
    color:#8d8d8d;
    margin-top:6px;
    line-height:1.2;
    font-size:14px;
}

.icon-white{
    filter: invert(100%);
}

