body {
    font-family: "Cal Sans", sans-serif;
    font-weight: 10;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(12, 13, 22);
    display: flex;
    flex-direction: column;
}

.top-view{
    background: linear-gradient(190deg , rgb(24, 9, 52) , rgb(19, 20, 30) );
    width: 100%;
    height: 205px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.playlist-header{
    background-color: transparent;
    width: 100%;
    height: 190px;
    display: flex;
}

.playlist-header-cover{
    width: 190px;
    height: 190px;
    margin-left: 20px;
    border-radius: 10px;
}

.playlist-header-info{
    width: 450px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.playlist-header-name{
    font-size: 40px;
    margin-top: 5px;
}

.playlist-header-description{
    margin-top: 3px;
    font-size: 13px ;
    color: rgba(255, 255, 255, 0.555);
    height: 66px;
}

#playlist-play-btn{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    background-color: rgb(126, 66, 230);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}

#playlist-play-btn:hover{
    cursor: pointer;
    
}

.playlist-play-icon{
    background-color: transparent;
    margin-left: 25px;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.playlist-play-text{
    font-size: 14px;
}

.main-view{
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;

    padding-bottom: 110px;
    box-sizing: border-box;
}

.playlist-menu{
    position:fixed;
    display:none;

    background:#20212b;
    border-radius:8px;

    min-width:220px;
    padding:6px;

    z-index:1000;
}
