<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riff - {{ playlist_name }} Playlist</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/site_logo.jpg') }}" type="image/x-icon">
    <!-- Apple Touch Icon (iOS home screen) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/site_logo.jpg') }}">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/bottom-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/playlist.css') }}">
</head>
<body>
    <div class="top-view">
        <div class="playlist-header">
            <img class="playlist-cover" src="{{ url_for('static' , filename='playlist-cover/' + playlist_name + '.jpg')}}" alt="playlist">
            <div class="playlist-info">
                <div class="playlist-name">
                    {{ playlist_name }}
                    
                </div>
                <div class="playlist-description">
                    {{ playlist_description }}
                </div>
                <div class="playlist-play-btn" onclick="playSong('{{songs[0][0]}}')">
                    <img class="playlist-play-icon" src="{{ url_for('static' , filename='assets/play_icon.svg')}}" alt="play">
                    <div class="playlist-play-text">Play</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-view">
        <div class="detail-bar">
            <div class="detail">#</div>
            <div class="detail-title" >TITLE</div>
            <div class="detail-artist">ARTIST</div>
            <img class="detail-img" src="{{ url_for('static' , filename='assets/clock_icon.svg')}}" alt="Duration">
            <div ></div>
        </div>
        <div class="song-list">
            {% for song in songs %}
            <div class="song-row" data-filename="{{ song[0] }}" onclick="playSong('{{song[0]}}')">
                <div class="playing-dot"></div>
                <div class="song-number"> {{ loop.index }} </div>
                <img class="song-cover" src="{{ url_for('static' , filename='cover/' + song[0][:-4] + '.jpg') }}" alt="cover">
                <div class="song-title"> {{ song[1] }}</div>
                <div class="song-artist"> {{ song[2] }} </div>
                <div class="song-duration"> {{ song[3] }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/bottom-bar.html' %}







    
    <audio id="audio"></audio>

    <div id="songListEl" data-songs='{{ song_files | tojson | safe }}'></div>     <!-- | tojson converts python objects to JS String -->

</body>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
</html>