<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riff - {{ playlist_name }} Playlist</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/site_logo.png') }} " type="image/x-icon">
    <!-- Apple Touch Icon (iOS home screen) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/site_logo.jpg') }}">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/bottom-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/playlist.css') }}">
</head>
<body>
    <div class="top-view">
        <div class="playlist-header">
            <img class="playlist-header-cover" src="{{playlist.cover}}" alt="playlist">
            <div class="playlist-header-info">
                <div class="playlist-header-name">
                    {{ playlist.name }}
                    
                </div>
                <div class="playlist-header-description">
                    {{ playlist.description }}
                </div>
                <div id="playlist-play-btn" >
                    <img class="playlist-play-icon" src="{{ url_for('static' , filename='assets/play_icon.svg')}}" alt="play">
                    <div class="playlist-play-text">Play</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-view">
        {% include "components/song-list.html" %}
    </div>
    {% include 'components/bottom-bar.html' %}

    {% include "components/create-playlist-modal.html" %}
    <audio id="audio"></audio>

    <div id="songListEl" data-songs='{{ songs | tojson | safe }}'></div>     <!-- | tojson converts python objects to JS String -->
    <div id="playlistMenu" class="playlist-menu"></div>
    <div id="playlist-data"
        data-playlist-id="{{ playlist_id }}"
        hidden>
</div>
</body>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
<script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
</html>